.main-page {
    &__img {
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    &__title {
        margin-top: 200px;
        text-align: center;
    }
    &__text {
        color: #333;
        text-align: center;
        margin-top: 100px;
    }
}