.app-weather {
    position: relative;
    min-height: 36px;
    margin-bottom: 30px;
    &__header {
        display: flex;
        justify-content: center;
        align-items: baseline;
        gap: 30px;
        font-size: 14px;
        font-weight: 600;
    }
    &__sun {
        span {
            font-weight: 700;
        }
    }
    
}
